.menu {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-content: center;
}

.title {
  font-size: 82px;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.gmanButton {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.gmam {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

a {
  text-decoration: none;
  color: black;
}

.clickUpgrade, .autoFighter1, .autoFighterUpgrade {
  width: 200px;
  height: 200px;
}

.click, .auto1 {
  width: 180px;
  height: 180px;
}

.game {
  display: flex;
}