.gmanButton {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.gmam {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

a {
  text-decoration: none;
  color: black;
}

.clickUpgrade, .autoFighter1, .autoFighterUpgrade {
  width: 200px;
  height: 200px;
}

.click, .auto1 {
  width: 180px;
  height: 180px;
}